<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. See accompanying LICENSE file.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Error log -->
	<appender name="crawler_error_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="ERROR" />
		<param name="File" value="./logs/crawler.error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%5p] %c{1} - %m%n" />
		</layout>
	</appender>
	<!-- Thread log -->
	<appender name="crawler_thread_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="./logs/crawler.thread.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%5p] %c{1} %t - %m%n" />
		</layout>
	</appender>
	<!-- Task log -->
	<appender name="crawler_task_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="./logs/crawler.task.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%5p] %c{1} %t - %m%n" />
		</layout>
	</appender>
	<!-- Server log -->
	<appender name="crawler_server_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="./logs/crawler.server.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%5p] %c{1} %t - %m%n" />
		</layout>
	</appender>
	<!-- Controller log -->
	<appender name="crawler_controller_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="./logs/crawler.controller.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%5p] %c{1} %t - %m%n" />
		</layout>
	</appender>
	<!-- Performance log -->
	<appender name="crawler_performance_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="./logs/crawler.performance.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%5p] %c{1} %t - %m%n" />
		</layout>
	</appender>
	<!-- Access log -->
	<appender name="crawler_access_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="./logs/crawler.access.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%5p] %c{1} - %m%n" />
		</layout>
	</appender>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%5p] %c{1} - %m%n" />
		</layout>
	</appender>

	<category name="org.azkfw.crawler">
		<priority value="ERROR" />
		<appender-ref ref="crawler_error_log" />
	</category>
	<category name="org.azkfw.crawler.thread">
		<priority value="INFO" />
		<appender-ref ref="crawler_thread_log" />
	</category>
	<category name="org.azkfw.crawler.task">
		<priority value="INFO" />
		<appender-ref ref="crawler_task_log" />
	</category>
	<category name="org.azkfw.crawler.CrawlerServer">
		<priority value="INFO" />
		<appender-ref ref="crawler_server_log" />
	</category>
	<category name="org.azkfw.crawler.CrawlerController">
		<priority value="INFO" />
		<appender-ref ref="crawler_controller_log" />
	</category>
	<category name="org.azkfw.crawler.performance.Performance">
		<priority value="INFO" />
		<appender-ref ref="crawler_performance_log" />
	</category>
	<category name="org.azkfw.crawler.access">
		<priority value="INFO" />
		<appender-ref ref="crawler_access_log" />
	</category>
	
	<category name="org.azkfw.crawler">
		<priority value="debug" />
		<appender-ref ref="stdout" />
	</category>

	<root>
		<!-- <level value="debug" /> <appender-ref ref="STDOUT" /> -->
	</root>

</log4j:configuration>